@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="body-content">
    <br /><br />
    <img src="http://www.andrefelizardo.com.br/blog/wp-content/uploads/2015/11/em_construcao1.jpg" alt="funny GIF" width="100%" />
</div>
